<br>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
<div class="container-fluid">
  <form [formGroup]="addScratchForm">
    <div formArrayName="scratchpads">
      <div *ngFor="let scratchpad of addScratchForm['controls']['scratchpads']['controls']; let i=index">
        <div [formGroupName]="i">
          <div class="row">
            <div  *ngIf="arrTabData">
                <div  *ngIf="arrTabData[1]">
            <div class="col-sm-2" *ngIf="arrTabData[1].formValid === true ||arrTabData[2].formValid === true || arrTabData[1].tabName === 'EDIT IMPAIRMENT' || arrTabData[2].tabName === 'EDIT CLAIM'">
              <div class="form-group">
                <label for="dob" class="custom-label">Policy Number<span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="policyNumber" placeholder="Policy Number"
                (ngModelChange)="validateData()" [readonly]="true">
              </div>
            </div>
            <div class="col-sm-4" *ngIf="arrTabData[1].formValid === true ||arrTabData[2].formValid === true || arrTabData[1].tabName === 'EDIT IMPAIRMENT' || arrTabData[2].tabName === 'EDIT CLAIM'">
                <div class="form-group">
                  <label for="dob" class="custom-label"  *ngIf="pageAction.action === 'ADD IMPAIRMENT' ||pageAction.action === 'EDIT IMPAIRMENT' ">Policy Benefit<span class="text-danger">*</span></label>
                  <label for="dob" class="custom-label"  *ngIf="pageAction.action === 'ADD CLAIM' ||pageAction.action === 'EDIT CLAIM' ">Claim Type<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="description" placeholder="Policy Number"
                    [readonly]="true">
                </div>
              </div>
              </div>
          </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="dob" class="custom-label">Scratchpad</label>
                <textarea class="form-control custom-min-height" maxlength="800" formControlName="comment" placeholder="Type in your comments"
                (ngModelChange)="validateData()"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <hr>
  </form>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <button type="button" (click)="clearData()" class="btn btn-default btn-block btn-cancel custom-find-button-width pull-right">Clear
        Data</button>
    </div>
  </div>
</div>
<br><br>

<app-scratchpad-history *ngIf="selectedPersonId" [insuredPersonId]="selectedPersonId"></app-scratchpad-history>