<br>
<div class="container custom-enquiry-not-found panel-box custom-width">
  <div class="row paddingTB20">
    <div class="col-sm-12 text-center">
        <img src="assets/images/icons_0003_Successfull.png">
      <!-- <span class="glyphicon
        glyphicon-ok-circle" style="color:green;font-size:100px;"></span> -->
    </div>
    <div class="col-sm-12">
      <h4 class="modal-title text-center p-10">
        <span>Person has been added successfully!</span>
      </h4>
    </div>
  </div>
  <div class="row custom-background-color paddingTB20">

    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="modal-title">
          <span class="m-15">What would you like to do now?</span>
        </h4>
      </div>
    </div>

    <div class="row success-message-footer">
      <div class="col-sm-6 text-left">
        <button type="button" class="btn btn-block btn-white" (click)="redirectToAddPerson()"><span
            class="glyphicon glyphicon-plus"></span>
          Add new Person</button>
      </div>
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-block btn-white" (click)="redirectToEnquiry()"><span
            class="glyphicon glyphicon-search"></span>
          Enquire</button>
      </div>
    </div>

  </div>

</div>